POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# INFORMAÇÕES CREATE/RESTORE DUMP
DB_NAME=myapp
DUMP_FILE_NAME=20250101_0000_myapp.dump

# INFORMAÇÕES DO KEYCLOAK
KC_FILE_NAME=20250101_0000_realm.json

# INFORMACOES DO MINIO
MINIO_BUCKET=cms-uploads
