####################################################################################################
## General

HOST=0.0.0.0
PORT=8058
PUBLIC_URL=https://cms.myapp.com

ADMIN_EMAIL=admin@myapp.com
ADMIN_PASSWORD=Admin@123

####################################################################################################
## Database

DB_CLIENT=pg
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=myapp
DB_USER=myapp
DB_PASSWORD=myapp
DB_SSL=false


## REDIS
REDIS_ENABLED=true
REDIS=redis://@redis:6379/2

####################################################################################################
## Rate Limiting

RATE_LIMITER_ENABLED=true
RATE_LIMITER_POINTS=25
RATE_LIMITER_DURATION=1
RATE_LIMITER_STORE=redis

####################################################################################################
## Cache

CACHE_ENABLED=true
CACHE_STORE=redis
CACHE_TTL=10s

####################################################################################################
## File Storage
STORAGE_LOCATIONS="MINIO"
STORAGE_MINIO_DRIVER=s3
STORAGE_MINIO_KEY=minioportal
STORAGE_MINIO_SECRET=minioportal
STORAGE_MINIO_ENDPOINT=http://minio:26004/cms-uploads
STORAGE_MINIO_BUCKET=cms-uploads
STORAGE_MINIO_REGION=us-east-1
STORAGE_MINIO_S3_FORCE_PATH_STYLE=true


####################################################################################################
## Security

# uuidgen
KEY=3930e104-dbab-4106-8804-f8ff911a9cf7
# openssl rand -base64 24
SECRET=suUQ1Mr+OKfTs1cN2LuD9WQV0ZqwYnFY

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
REFRESH_TOKEN_COOKIE_SECURE=false
REFRESH_TOKEN_COOKIE_SAME_SITE=lax
REFRESH_TOKEN_COOKIE_NAME=directus_refresh_token

####################################################################################################
## Auth Providers

AUTH_PROVIDERS=

####################################################################################################
## Extensions

EXTENSIONS_PATH=./extensions

####################################################################################################
## Email

EMAIL_FROM=no-reply@directus.io
EMAIL_TRANSPORT=sendmail
EMAIL_SENDMAIL_NEW_LINE=unix
EMAIL_SENDMAIL_PATH=/usr/sbin/sendmail

####################################################################################################
CORS_ENABLED=true
CORS_ORIGIN=true
