# Banco de dados

KC_DB=postgres
KC_DB_URL_HOST=myapp_id
KC_DB_PASSWORD=myapp_id
KC_DB_USERNAME=myapp_id
KC_DB_SCHEMA=public
#KC_DB_URL_PORT=5432
#KC_DB_URL_DATABASE=POSTGRES
KC_DB_URL=jdbc:postgresql://postgres:5432/myapp_id


# Dados de acesso ao app

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# Configurações de protocolo de acesso
KC_HEALTH_ENABLED=true
KC_LOG_LEVEL=info
KC_HTTP_ENABLED=true
KC_HOSTNAME=https://id.myapp.com/
KC_HTTP_MANAGEMENT_PORT=9090
